In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('test.csv')

In [3]:
data.info

<bound method DataFrame.info of      student  status
0  priyanshu     0.0
1      aryan     1.0
2    pratham     1.0
3   modiKhan     NaN>

In [4]:
data.isna()

   student  status
0    False   False
1    False   False
2    False   False
3    False    True

In [9]:
atten = data['status']
print(atten.count())

3